* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  background-image: url("../images/banner-img.png");
  background-size: 100% 100%;
  height: 70vh;
  background-color: teal;
}

header .header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: white;
}

header .menu {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
}

header .menu-list .show-list {
  position: absolute;
  display: none;
}

header .menu-list .show:hover .show-list {
  display: block;
}

header .menu-list *a {
  text-transform: uppercase;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  color: #000;
}

header .menu-list *a:hover {
  color: #f2184f;
}

header .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  width: 25%;
  align-items: center;
}

header .form .search-inp {
  display: none;
}

header .form .search {
  background-color: black;
  padding: 7px;
  margin: 5px;
}

header .form .search:hover .search-inp {
  background-color: #f2184f;
  display: block;
}

header .form .sign-btn {
  padding: 13px 20px;
  background-color: #f2184f;
  color: #fff;
  border: none;
}

.banner-section {
  height: 100%;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-section .title-section {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  height: 60%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-section .title-section h2 {
  color: #f2184f;
}

.banner-section .title-section h3 {
  font-size: 20px;
  color: #f2184f;
}

.banner-section .title-section button {
  width: 180px;
  height: 50px;
  background: #f2184f;
  color: #fff;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  border-radius: 5px;
}

.main .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .boxes .box1 {
  width: 15%;
  font-size: 150px;
  color: grey;
  padding: 20px;
}

.main .boxes .box2 {
  width: 69%;
  font-family: sans-serif;
  padding: 50px;
}

.main .boxes .box2 .text {
  font-size: 25px;
  margin: 5px 0;
}

.main .boxes .box2 h3 {
  font-size: 40px;
}

.main .boxes .box2 h3:before {
  content: "WE CAN ";
  color: #f2184f;
}

.main .boxes .box2 p {
  font-size: 25px;
  color: gray;
  margin: 5px 0;
}

.main2 {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: sans-serif;
}

.main2 .box1 {
  width: 50%;
}

.main2 .box1 img {
  width: 100%;
  margin-bottom: 20px;
}

.main2 .box2 {
  width: 50%;
  margin: 50px 30px;
}

.main2 .box2 h3 {
  font-size: 35px;
}

.main2 .box2 p {
  font-size: 20px;
  line-height: 25px;
}

.main3 .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main3 .boxes .box1 {
  width: 15%;
  font-size: 150px;
  color: grey;
  padding: 20px;
}

.main3 .boxes .box2 {
  width: 69%;
  font-family: sans-serif;
  padding: 50px;
  margin-left: 20px;
}

.main3 .boxes .box2 .text {
  font-size: 25px;
  margin: 5px 0;
}

.main3 .boxes .box2 h3 {
  font-size: 35px;
}

.main3 .boxes .box2 h3:before {
  content: "HOW PROVIDE ";
  color: #f2184f;
}

.main3 .boxes .box2 p {
  font-size: 25px;
  margin: 5px 0;
}

.main4 {
  width: 100%;
  padding: 80px;
  font-family: 'Poppins', 'sans-serif';
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.main4 .box1 {
  padding: 20px 30px;
  border: 1px solid black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: solid #555 1px;
}

.main4 .box1 img {
  width: 80px;
}

.main4 .box1 .box2 {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.main4 .box1 .text {
  font-size: 20px;
  color: black;
}

.main4 .box1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main4 .box2 {
  padding: 20px 30px;
  border: 1px solid black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: solid #555 1px;
}

.main4 .box2 img {
  width: 80px;
}

.main4 .box2 .box2 {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.main4 .box2 .text {
  font-size: 20px;
  color: black;
}

.main4 .box3 {
  padding: 20px 30px;
  border: 1px solid black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: solid #555 1px;
}

.main4 .box3 img {
  width: 80px;
}

.main4 .box3 .box2 {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.main4 .box3 .text {
  font-size: 20px;
  color: black;
}

.main4 .box4 {
  padding: 20px 30px;
  border: 1px solid black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: solid #555 1px;
}

.main4 .box4 img {
  width: 80px;
}

.main4 .box4 .box2 {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.main4 .box4 .text {
  font-size: 20px;
  color: black;
}

.main4 .box5 {
  padding: 20px 30px;
  border: 1px solid black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: solid #555 1px;
}

.main4 .box5 img {
  width: 80px;
}

.main4 .box5 .box2 {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.main4 .box5 .text {
  font-size: 20px;
  color: black;
}

.main4 .box6 {
  padding: 20px 30px;
  border: 1px solid black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: solid #555 1px;
}

.main4 .box6 img {
  width: 80px;
}

.main4 .box6 .box2 {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.main4 .box6 .text {
  font-size: 20px;
  color: black;
}

.main5 .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main5 .boxes .box1 {
  width: 15%;
  font-size: 150px;
  color: grey;
  padding: 20px;
}

.main5 .boxes .box2 {
  width: 69%;
  font-family: sans-serif;
  padding: 30px;
  text-align: left;
  margin-left: 20px;
}

.main5 .boxes .box2 .text {
  font-size: 25px;
  margin: 5px 0;
  color: black;
}

.main5 .boxes .box2 h3 {
  font-size: 35px;
}

.main5 .boxes .box2 h3:before {
  content: "CHOOSE A ";
  color: #f2184f;
}

.main5 .boxes .box2 p {
  font-size: 20px;
  color: gray;
  margin: 5px 0;
}

button {
  width: 165px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: white;
  background-color: black;
  margin: 30px;
  font-size: 18px;
}

.main6 {
  padding: 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
}

.main7 {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.main7 .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main7 .boxes .box1 {
  width: 15%;
  font-size: 150px;
  padding: 20px;
}

.main7 .boxes .box2 {
  width: 69%;
  padding: 30px;
  text-align: left;
  margin-left: 20px;
}

.main7 .boxes .box2 h3 {
  font-size: 35px;
}

.main7 .boxes .box2 h3::after {
  content: " PERSONALISED BUSINESS";
  color: #f2184f;
}

.main7 .boxes .box2 p {
  font-size: 20px;
  color: white;
  margin: 5px 0;
}

.main7 .boxes1 {
  padding: 0 30px;
  font-size: 18px;
}

.main7 button {
  width: 165px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: white;
  background-color: #f2184f;
  margin: 50px 30px;
  border-radius: 5px;
  font-size: 18px;
  border-color: #f2184f;
}

.main7 .boxes2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f2184f;
  padding: 40px;
}

.main7 .boxes2 .p {
  font-size: 60px;
}

.main7 .boxes2 p {
  font-size: 30px;
}

.main7 .boxes2 hr {
  height: 5px;
  background-color: white;
  margin-top: 10px;
}

.main8 .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main8 .boxes .box1 {
  width: 15%;
  font-size: 150px;
  color: grey;
  padding: 20px;
}

.main8 .boxes .box2 {
  width: 69%;
  font-family: sans-serif;
  padding: 30px;
  text-align: left;
  margin-left: 20px;
}

.main8 .boxes .box2 .text {
  font-size: 25px;
  margin: 5px 0;
  color: black;
}

.main8 .boxes .box2 h3 {
  font-size: 35px;
}

.main8 .boxes .box2 h3:before {
  content: "WE HAVE A PROFESSIONAL ";
  color: #f2184f;
}
/*# sourceMappingURL=style.css.map */