* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@mixin flexMix () {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@mixin boxMix () {
    padding: 20px 30px;
    border: 1px solid black;
    transition: 1s ease;
    border: solid #555 1px;
    img {
        width: 80px;
    }
    .box2 {
        border: none;
        width: 100%;
        padding: 10px 0;

    }
    .text {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    // p {
    //     font-size: 18px;
    //     color: gray;
    // }
    // &:hover {
    //     transform: scale(1.1);
    // }

}

header {
    background-image: url("../images/banner-img.png");
    background-size: 100% 100%;
    height: 70vh;
    background-color: teal;
    .header-section {
        @include flexMix();
        justify-content: space-around;
        position: fixed;
        width: 100%;
        background-color: white;

    }
    .menu {
        width: 65%;
        @include flexMix();

    }
    .menu-list {
        @include flexMix();
        position: relative;
        width: 70%;

        .show-list {
            position: absolute;
            display: none;
        }
        .show {
            &:hover .show-list {
                display: block;
            }
        }
        *a {
            text-transform: uppercase;
            font-size: 15px;
            font-family: sans-serif;
            font-weight: 400;
            color: #000;
            &:hover {
                color: #f2184f;
            }
        }
    }
    .form {
        @include flexMix();
        justify-content: space-between;
        width: 25%;
        align-items: center;

        .search-inp {
            display: none;
        }
        .search {
            background-color: black;
            padding: 7px;
            margin: 5px;
            &:hover .search-inp {
                background-color: #f2184f;
                display: block;
            }
        }

        .sign-btn {
            padding: 13px 20px;
            background-color: #f2184f;
            color: #fff;
            border: none;

        }
    }

}
.banner-section {
    height: 100%;
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title-section {
        text-align: left;
        font-size: 25px;
        font-weight: 700;
        height: 60%;
        width: 80%;
        display: flex;
        font-family: sans-serif;
        justify-content: space-evenly;
        flex-direction: column;
        h2 {
            color: #f2184f;
        }
        h3 {
            font-size: 20px;
            color: #f2184f;
        }
        button {
            width: 180px;
            height: 50px;
            background: #f2184f;
            color: #fff;
            border: none;
            line-height: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            margin-top: 50px;
            border-radius: 5px;
        }
    }
}
.main {
    .boxes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box1 {
            width: 15%;
            font-size: 150px;
            color: grey;
            padding: 20px;
        }
        .box2 {
            width: 69%;
            font-family: sans-serif;
            padding: 50px;

            .text {
                font-size: 25px;
                margin: 5px 0;
            }
            h3 {
                font-size: 40px;
                &:before {
                    content: "WE CAN ";
                    color: #f2184f;
                }
            }
            p {
                font-size: 25px;
                color: gray;
                margin: 5px 0;
            }
        }
    }

}
.main2 {
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    font-family: sans-serif;
    .box1 {
        width: 50%;
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .box2 {
        width: 50%;
        margin: 50px 30px;
        h3 {
            font-size: 35px;
        }
        p {
            font-size: 20px;
            line-height: 25px;
        }
    }
}
.main3 {
    .boxes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box1 {
            width: 15%;
            font-size: 150px;
            color: grey;
            padding: 20px;
        }
        .box2 {
            width: 69%;
            font-family: sans-serif;
            padding: 50px;
            margin-left: 20px;

            .text {
                font-size: 25px;
                margin: 5px 0;
            }
            h3 {
                font-size: 35px;
                &:before {
                    content: "HOW PROVIDE ";
                    color: #f2184f;
                }
            }
            p {
                font-size: 25px;

                margin: 5px 0;
            }
        }
    }

}
.main4 {
    width: 100%;
    padding: 80px;
    font-family: 'Poppins', 'sans-serif';
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;

    .box1 {
        @include boxMix();
        &:hover {
            transform: scale(1.1);
        }

    }
    .box2 {
        @include boxMix();

    }
    .box3 {
        @include boxMix();

    }
    .box4 {
        @include boxMix();

    }
    .box5 {
        @include boxMix();

    }
    .box6 {
        @include boxMix();

    }
}
.main5 {
    .boxes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box1 {
            width: 15%;
            font-size: 150px;
            color: grey;
            padding: 20px;
        }
        .box2 {
            width: 69%;
            font-family: sans-serif;
            padding: 30px;
            text-align: left;
            margin-left: 20px;

            .text {
                font-size: 25px;
                margin: 5px 0;
                color: black;

            }
            h3 {
                font-size: 35px;
                &:before {
                    content: "CHOOSE A ";
                    color: #f2184f;
                }
            }
            p {
                font-size: 20px;
                color: gray;
                margin: 5px 0;
            }
        }
    }

}

button {
    width: 165px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: white;
    background-color: black;
    margin: 30px;
    font-size: 18px;

}
.main6 {
    padding: 10px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;

}
.main7 {
    background-color: black;
    color: white;
    font-family: sans-serif;
    .boxes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box1 {
            width: 15%;
            font-size: 150px;
            padding: 20px;
        }
        .box2 {
            width: 69%;

            padding: 30px;
            text-align: left;
            margin-left: 20px;

            h3 {
                font-size: 35px;

                &::after {
                    content: " PERSONALISED BUSINESS";
                    color: #f2184f;
                }
            }
            p {
                font-size: 20px;
                color: white;
                margin: 5px 0;
            }
        }
    }
    .boxes1 {
        padding: 0 30px;
        font-size: 18px;
    }
    button {
        width: 165px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        color: white;
        background-color: #f2184f;
        margin: 50px 30px;
        border-radius: 5px;
        font-size: 18px;
        border-color: #f2184f;
    }
    .boxes2 {
        width: 80%;
        display: flex;
        justify-content: space-between;
        color: #f2184f;
        padding: 40px;

        .p {
            font-size: 60px;
        }
        p {
            font-size: 30px;
        };
        hr {
            height: 5px;
            background-color: white;
            margin-top: 10px;
        }
    }
}
.main8 {
    .boxes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box1 {
            width: 15%;
            font-size: 150px;
            color: grey;
            padding: 20px;
        }
        .box2 {
            width: 69%;
            font-family: sans-serif;
            padding: 30px;
            text-align: left;
            margin-left: 20px;

            .text {
                font-size: 25px;
                margin: 5px 0;
                color: black;

            }
            h3 {
                font-size: 35px;
                &:before {
                    content: "WE HAVE A PROFESSIONAL ";
                    color: #f2184f;
                }
            }

        }
    }

}
